# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# virtual environments
.venv/
venv/
env/

# build artifacts
build/
dist/
*.egg-info/

# pro package build artifacts
pro/build/
pro/dist/
pro/*.egg-info/

# packaging artifacts
*.whl
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# Project specific
.env
gumroad/