# 무시할 파일

**/.venv/
**/.idea
**/.virtual_documents
**/.ipynb_checkpoints/
**/__pycache__/
**/desktop.ini
**/env
**/.env
**/*.log

# 추적할 파일


# 이 파일들은 항상 추적
!/.env.example
!.gitignore
!.gitmessage.txt
!README.md
!requirements.txt